<h1><%= @location.name %></h1>
<h4>Street: <%= @address.street %></h4>
<h4>City: <%= @address.city %></h4>
<h4>State: <%= @address.state %></h4>
<h4>Zip: <%= @address.zip %></h4>
<br />
<br />
<%= link_to 'Edit address', edit_location_address_path([@location, @address], class: "ui blue button small") %> |
<%= link_to 'Delete address', [@location, @address], method: :delete, class: "ui red button small" %> |
<%= link_to 'Back To addresses', location_addresses_path(@location), class: "ui green button small" %>