<h1><%= @location.name %></h1>
<h4>Name: <%= @address.name %></h4>
<h4>Species: <%= @address.species %></h4>
<h4>Age: <%= @address.age %></h4>
<br />
<br />
<%= link_to 'Edit address', edit_location_address_path([@location, @address]) %> |
<%= link_to 'Delete address', [@location, @address], method: :delete %> |
<%= link_to 'Back To addresss', location_addresss_path(@location) %>