<h1 class="ui header">Locations in <%=@trip.name%></h1>
<%= link_to 'New Location', new_trip_location_path, class:"ui green button small"  %>
  <thead>
<hr />


<div class="ui three column grid">
  <% @locations.each do |location| %>
    <div class="column">
      <div class="ui segment">
        <%= location.name %>
        <hr/>
        <span> 
          <%= link_to "View Local", location_addresses_path(location), class: "ui green button small"%>
         <%= link_to 'Edit Local', edit_trip_location_path(@trip, location), class: "ui blue button small"  %>
         <%= link_to 'Delete Local', trip_location_path(@trip, location), method: :delete, class: "ui red button small"  %>
        </span>
      </div>
    </div>
  <% end %> 
</div>


<hr />
<div><%= link_to 'Return to Trips', trips_path, class: "ui purple button small" %></div>
